@import "tailwindcss";

:root {
  --background: #f1f2f3;
  --foreground: #3d3d3d;
  --primary: #301193;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121312;
    --foreground: #f1f2f3;
    --primary: #301193;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
